body{
    background-image: url(../Images/vintage-wallpaper.png);
    padding: 5px;
}
.container{
    margin-top: 20px;
    background-color: cornsilk;
}
.dash{
    border: 2px, dashed, red;
}
.btn{
    margin-bottom: 5px;
}
#header{
    margin-top: 10px;
    color: cornsilk;
}