body{
    background-image: url(../Images/triangle-mosaic.png);
    padding: 5px;
}
.container{
    margin-top: 20px;
    background-color: #eeeeee;
    border: 2px solid peru;
}
.dash{
    border: 2px, dashed, red;
}
.btn{
    margin-bottom: 5px;
}
#header{
    margin-top: 10px;
    color: #cccccc
}
#output{
    background-color: #777777;
    color: transparent;
    text-decoration: none;
    border: 2px dashed orange;
}
#output:hover{
    color: #cccccc;
    border-color: blue;
    
}